<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.js'></script>
  <link rel="stylesheet" href="./css/cardtest.css">
  <title>Document</title>
</head>

<body>
  <!-- <article id="all_product">
    <div class="bidBox" v-for="(item,index) in filterItem" :key="index">
      <p> {{item.分類[0]}}</p>
      <p> {{item.地址[0]}}</p>
      <p> {{item.名稱}}</p>
      <img :src="`https://www.shop1688.com.tw/${item.bid}/item.jpg`">
    </div>
  </article> -->
  <article id="all_product">
    <div class="bidBox" v-for="(item,index) in filterItem" :key="index">
    </div>

  </article>
</body>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfWqe3ED8MkbbRa1lZeFla3trqY3UPOH0&libraries=places&v=weekly"
  defer></script>
<script src="cardtest.js"></script>




</html>