@import "../mixins/mixin";

.mapInput {
  width: 100%;
  display: flex;
  height: 100vh;
  // height: calc(100vh - 97px);
  min-height: 800px;
  padding-top: 97px;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;

  @include media(1280px) {
    height: auto;
    padding-bottom: 100px;
  }

  #map-close {
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    top: 20%;
    left: 46%;
    z-index: 9;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: $boxShadow;
    transition: all 0.2s;

    @include media(1280px) {
      display: none;
    }

    @include media(1600px) {
      left: 50.8%;
    }

    &:before {
      position: absolute;
      content: '';
      width: 80%;
      height: 2px;
      background-color: black;
      transform: rotate(45deg);
      top: calc(50% - 1px);
      left: 10%;
      border-radius: 50px;
      transition: all 0.2s;
    }

    &::after {
      border-radius: 50px;
      position: absolute;
      content: '';
      width: 80%;
      height: 2px;
      background-color: black;
      transform: rotate(-45deg);
      top: calc(50% - 1px);
      left: 10%;
      transition: all 0.2s;
    }

    &:hover {

      &:before {

        position: absolute;
        content: '';
        width: 80%;
        height: 2px;
        background-color: black;
        transform: rotate(-45deg);
        top: calc(50% - 1px);
        left: 10%;
        border-radius: 50px;
      }

      &::after {
        border-radius: 50px;
        position: absolute;
        content: '';
        width: 80%;
        height: 2px;
        background-color: black;
        transform: rotate(45deg);
        top: calc(50% - 1px);
        left: 10%;
      }
    }

  }

  .results-map {
    width: 45%;



    @include media(1600px) {
      width: 50%;
    }

    @include media(1280px) {
      width: 100%;
      // border: 1px solid red;
    }
  }

  .map-titles {
    width: calc(100% - 20px);
    padding: 20px 40px 40px 10px;

    h4 {
      font-weight: 900;
      font-size: font(10);
    }
  }

  .results-map-w100 {
    width: 100%;
    height: calc(100% - 125px);
    // border: 2px solid rgb(39, 199, 172);
    padding: 0 40px;
    overflow: auto;

    @include media(1280px) {
      display: flex;
      flex-wrap: wrap;
      padding: 0 20px;
      overflow: unset;
    }

    &::-webkit-scrollbar {
      width: 7px;
      background-color: #ffffff;
      border-radius: 100px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      height: 50px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: $scrollBarColor;
    }

    .li-w100-flex {
      width: 100%;
      height: 260px;
      list-style: none;
      padding: 22px 0;
      border-top: 1px solid rgb(230, 230, 230);

      @include media(1280px) {
        border: none;
        height: auto;
        width: calc(33.333333% - 30px);
        padding: 0;
        margin: 27.5px 15px;
      }

      .map-card-itmes {
        width: 100%;
        height: 100%;
        border: 2px solid black;
        @include card-title;

        @include media(1280px) {
          width: 100%;
          height: auto;
        }

        .card-title {
          border-top: none;
          border-left: none;
          border-right: none;

          .card-txt {


            p {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              white-space: normal;
              line-height: 30px;
            }
          }

          .card-button {
            border-right: none;
            border-top: none;
            border-bottom: none;
          }
        }

        .map-content {
          width: 100%;
          height: calc(100% - 28px);
          display: flex;
          padding: 15px 10px 15px 25px;
          border-top: none;
          position: relative;

          &::before {
            content: '';
            width: 20%;
            background-color: $scrollBarColor;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;

            @include media(1280px) {
              top: 0;
              left: 0;
              width: 100%;
              height: 53%;
            }
          }

          @include media(1280px) {
            flex-wrap: wrap;
            padding: 0;
          }

          .img-w-100 {
            width: 180px;
            margin: 0;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 1px 1px 5px 0px rgb(172, 172, 172);
            background-color: #ffffff;
            z-index: 1;

            @include media(1280px) {

              width: calc(100% - 66px);
              height: 100vh;
              max-height: 270px;
              overflow: hidden;
              margin-top: 24px;
              margin-left: auto;
              margin-right: auto;
              border-radius: 5px;
              position: relative;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
              transform: scale(1.2);
              transition: all 0.3s;
            }
          }

          .map-content-w100 {
            width: calc(100% - 220px);
            height: 100%;
            margin: 0;
            display: flex;

            @include media(1600px) {
              width: calc(100% - 180px);
            }

            @include media(1280px) {
              flex-wrap: wrap;
              width: 100%;
            }

            .content-header {
              width: 70%;
              height: 100%;
              display: flex;
              flex-direction: column;

              @include media(1600px) {
                width: 80%;
              }

              @include media(1280px) {
                width: 100%;
                // border: 1px solid red;
              }

              .content-title {
                height: 33.333%;
                margin: 0;
                width: calc(100% - 15px);
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 0px 0 0 20px;

                @include media(1280px) {
                  padding: 11px 0 13px 0;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 100%;
                  // border: 1px solid red;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 1;
                  -webkit-box-orient: vertical;
                  white-space: normal;
                  line-height: 30px;
                }

                h3 {
                  @include scroll-input-font;
                  word-break: break-all;
                  display: -webkit-box;
                  -webkit-line-clamp: 2; //行數
                  -webkit-box-orient: vertical;
                  white-space: normal;
                  overflow: hidden;

                  @include media(1280px) {
                    text-align: center;
                    -webkit-line-clamp: 1; //行數
                  }
                }
              }

              .name-w60 {
                width: calc(100% - 15px);
                height: 33.333%;
                display: flex;
                padding-left: 15px;

                .name-display {
                  margin: 0;
                  display: flex;
                  width: 100%;
                  justify-content: flex-start;
                  align-items: center;

                  @include media(1600px) {
                    justify-content: space-evenly;
                  }

                  .name-type {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin: 0px;
                    margin-right: 30px;

                    @include media(1600px) {
                      margin-right: 0;
                    }

                    img {
                      width: 25px;
                      margin-right: 10px;
                    }

                    p {
                      margin: 0;
                    }
                  }

                  .name-city {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin: 0;

                    img {
                      width: 25px;
                      margin-right: 10px;
                    }

                    p {
                      margin: 0;
                    }
                  }
                }
              }

              .map-button {
                width: calc(100% - 20px);
                height: 33.333%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-left: 20px;

                @include media(1280px) {
                  justify-content: center;
                  width: 100%;
                  padding: 18px 0;
                }

                a {
                  text-decoration: none;
                  @include shopButton;
                  max-width: 161px;
                  height: 30px;

                  &::after {
                    max-width: 160px;
                    height: 29px;
                  }

                  p {
                    @include font-p-level2;
                  }
                }
              }
            }

            .content-bottom {
              width: 30%;
              height: 100%;
              display: flex;

              @include media(1600px) {
                width: 20%;
              }

              .content-map-icon {
                width: 100%;
                // border: 3px solid goldenrod;
                display: flex;
                align-items: center;
                justify-content: center;

                @include media(1280px) {
                  display: none;
                }

                .google-src {
                  position: relative;
                  text-decoration: none;
                  color: $dark;
                  justify-content: flex-end;
                  align-items: center;
                  border: 1px solid rgb(0, 0, 0);
                  width: 100%;
                  max-width: 74px;
                  box-shadow: $shadow;
                  height: 66px;
                  border-radius: 5px;

                  .map-markers {
                    width: 30px;
                    height: 35px;
                    position: absolute;
                    top: 6px;
                    z-index: 9;
                    left: calc(50% - 15px);
                  }
                }

                .map-map:nth-of-type(2) {
                  width: 39px;
                  height: 23px;
                  position: absolute;
                  bottom: 12px;
                  left: calc(50% - 19.5px);
                }
              }

              &:hover {
                .map-markers {
                  animation: markerUp;
                  animation-duration: .3s;
                  animation-iteration-count: infinite;
                  animation-direction: alternate;
                  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
                }

                @keyframes markerUp {
                  from {
                    top: 0;
                  }

                  to {
                    top: -10px;
                  }
                }
              }
            }
          }

          &:hover {
            .img-w-100 {
              img {
                transform: scale(1);
              }
            }
          }
        }
      }
    }
  }
}

.mapBox {
  width: 55%;
  height: 100%;
  position: relative;

  @include media(1280px) {
    display: none;
  }




  @include media(1600px) {
    width: 50%;
  }
}

.active-mapInput-display {
  display: none;
}