@import "../mixins/mixin";

.mapInput {
  width: 100%;
  display: flex;
  height: 100vh;
  // height: calc(100vh - 97px);
  min-height: 800px;
  padding-top: 97px;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;

  @include media(1280px) {
    height: auto;
    padding-bottom: 100px;
  }

  #map-close {
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    top: 20%;
    left: 46%;
    z-index: 9;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: $boxShadow;
    transition: all 0.2s;

    // @include media(1280px) {
    //   display: none;
    // }

    @include media(1600px) {
      left: 50.8%;
    }

    @include media(1280px) {
      left: 1%;
    }

    &:before {
      position: absolute;
      content: '';
      width: 80%;
      height: 2px;
      background-color: black;
      transform: rotate(45deg);
      top: calc(50% - 1px);
      left: 10%;
      border-radius: 50px;
      transition: all 0.2s;
    }

    &::after {
      border-radius: 50px;
      position: absolute;
      content: '';
      width: 80%;
      height: 2px;
      background-color: black;
      transform: rotate(-45deg);
      top: calc(50% - 1px);
      left: 10%;
      transition: all 0.2s;
    }

    &:hover {

      &:before {

        position: absolute;
        content: '';
        width: 80%;
        height: 2px;
        background-color: black;
        transform: rotate(-45deg);
        top: calc(50% - 1px);
        left: 10%;
        border-radius: 50px;
      }

      &::after {
        border-radius: 50px;
        position: absolute;
        content: '';
        width: 80%;
        height: 2px;
        background-color: black;
        transform: rotate(45deg);
        top: calc(50% - 1px);
        left: 10%;
      }
    }

  }



  .active-map-close {
    display: none;

  }

  .results-map {
    display: flex;
    width: 45%;
    // border: 10px solid black;
    flex-wrap: wrap;


    @include media(1600px) {
      width: 50%;
    }

    @include media(1280px) {
      width: 100%;
      // border: 1px solid red;
    }
  }

  .active-type-map {
    display: none;
  }


  .map-titles {
    width: calc(100% - 20px);
    padding: 20px 40px 40px 10px;

    @include media(770px) {
      padding: 0;
    }

    h4 {
      font-weight: 900;
      font-size: font(10);
    }
  }

  .results-map-w100 {
    width: 100%;
    height: calc(100% - 125px);
    // border: 2px solid rgb(39, 199, 172);
    padding: 0 40px;
    overflow: auto;

    #map-open {
      background-color: $fixed-input-bg;
      position: fixed;
      bottom: 80px;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 99;

      border-radius: 200px;
      padding: 10px 0px;
      width: 140px;

      cursor: pointer;
      transition: all 1s;
      display: none;

      @include media(770px) {
        bottom: 30px;
      }


      p {
        transition: all 0.5s;

        color: #ffffff;
        letter-spacing: 1px;
      }

      img {
        transition: all 1s;

        width: 100%;
        height: 100%;
        max-width: 20px;
        max-width: height 20px;

        margin-right: 10px;
        object-fit: contain;
        object-position: center;
      }

      &:hover {
        transition: all 1s;
        background-color: #ffffff;
        border: 0.5px solid black;


        p {
          color: black;
        }

        img {
          transition: all 0.3s;
          filter: drop-shadow(#000000 1px 0);
        }

      }
    }

    .active-map-open {
      display: flex !important;
    }

    @include media(1280px) {
      display: flex;
      flex-wrap: wrap;
      padding: 0 20px;
      overflow: unset;
    }

    @include media(1000px) {
      padding: 0 5px;
    }

    &::-webkit-scrollbar {
      width: 7px;
      background-color: #ffffff;
      border-radius: 100px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      height: 50px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: $scrollBarColor;
    }

    .li-w100-flex {
      width: 100%;
      height: 260px;
      list-style: none;
      padding: 22px 0;
      border-top: 1px solid rgb(230, 230, 230);

      @include media(1280px) {
        border: none;
        height: auto;
        width: calc(33.333333% - 30px);
        padding: 0;
        margin: 27.5px 15px;
      }

      @include media(1000px) {
        width: calc(50% - 10px);
        margin: 27.5px 5px;

      }

      @include media(413px) {
        width: calc(100% - 10px);
        margin: 27.5px 5px;

      }


      .map-card-itmes {
        width: 100%;
        height: 100%;
        border: 2px solid black;
        @include card-title;

        @include media(1280px) {
          width: 100%;
          height: auto;
        }

        .card-title {
          border-top: none;
          border-left: none;
          border-right: none;

          .card-txt {


            p {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              white-space: normal;
              line-height: 30px;
            }
          }

          .card-button {
            border-right: none;
            border-top: none;
            border-bottom: none;
          }
        }

        .map-content {
          width: 100%;
          height: calc(100% - 28px);
          display: flex;
          padding: 15px 10px 15px 25px;
          border-top: none;
          position: relative;

          &::before {
            content: '';
            width: 20%;
            background-color: $scrollBarColor;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;


            @include media(1280px) {
              top: 0;
              left: 0;
              width: 100%;
              height: 53%;
            }

            @include media(512px) {

              height: 29vw;
            }

            @include media(413px) {

              height: 70vw;
            }
          }

          @include media(1280px) {
            flex-wrap: wrap;
            padding: 0;
          }

          .img-w-100 {
            width: 180px;
            margin: 0;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 1px 1px 5px 0px rgb(172, 172, 172);
            background-color: #ffffff;
            z-index: 1;

            .show-move-map {
              display: none;

              @include media(1280px) {
                display: block;
              }
            }

            @include media(1280px) {

              width: calc(100% - 66px);
              height: 100vw;
              max-height: 18vw;
              overflow: hidden;
              margin-top: 24px;
              margin-left: auto;
              margin-right: auto;
              border-radius: 5px;
              position: relative;

              .show-move-map {
                top: 10px;
                left: 10px;
                z-index: 1;
                position: absolute;
                @include move-map;
              }
            }

            @include media(1000px) {

              max-height: 35vw;
            }

            @include media(512px) {
              width: calc(100% - 28px);
              margin-top: 8px;

            }

            @include media(413px) {
              width: calc(100% - 40px);
              max-height: 79vw;
              margin-top: 15px;

            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
              transform: scale(1.2);
              transition: all 0.3s;
            }
          }

          .map-content-w100 {
            width: calc(100% - 220px);
            height: 100%;
            margin: 0;
            display: flex;

            @include media(1600px) {
              width: calc(100% - 180px);
            }

            @include media(1280px) {
              flex-wrap: wrap;
              width: 100%;
            }

            .content-header {
              width: 70%;
              height: 100%;
              display: flex;
              flex-direction: column;

              @include media(1600px) {
                width: 80%;
              }

              @include media(1280px) {
                width: 100%;
                // border: 1px solid red;
              }

              .content-title {
                height: 33.333%;
                margin: 0;
                width: calc(100% - 15px);
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 0px 0 0 20px;

                @include media(1280px) {
                  padding: 11px 0 13px 0;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 100%;
                  // border: 1px solid red;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 1;
                  -webkit-box-orient: vertical;
                  white-space: normal;
                  line-height: 30px;
                }

                h3 {
                  @include scroll-input-font;
                  word-break: break-all;
                  display: -webkit-box;
                  -webkit-line-clamp: 2; //行數
                  -webkit-box-orient: vertical;
                  white-space: normal;
                  overflow: hidden;

                  @include media(1280px) {
                    text-align: center;
                    -webkit-line-clamp: 1; //行數
                  }

                  @include media(512px) {
                    @include font-p;
                  }
                }
              }

              .name-w60 {
                width: calc(100% - 15px);
                height: 33.333%;
                display: flex;
                padding-left: 15px;

                @include media(1280px) {
                  padding-left: 0;
                  width: 100%;
                }

                .name-display {
                  margin: 0;
                  display: flex;
                  width: 100%;
                  justify-content: flex-start;
                  align-items: center;

                  @include media(1600px) {
                    justify-content: space-evenly;
                  }

                  .name-type {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin: 0px;
                    margin-right: 30px;

                    @include media(1600px) {
                      margin-right: 0;
                    }

                    img {
                      width: 25px;
                      margin-right: 10px;

                      @include media(512px) {
                        margin-right: 5px;
                      }
                    }

                    p {
                      margin: 0;

                      @include media(512px) {
                        @include rwd-font-btn;
                      }
                    }
                  }

                  .name-city {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin: 0;

                    img {
                      width: 25px;
                      margin-right: 10px;

                      @include media(512px) {
                        margin-right: 5px;
                        width: 18px;
                      }
                    }

                    p {
                      margin: 0;

                      @include media(512px) {
                        @include rwd-font-btn;
                      }
                    }
                  }
                }
              }

              .map-button {
                width: calc(100% - 20px);
                height: 33.333%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-left: 20px;

                @include media(1280px) {
                  justify-content: center;
                  width: 100%;
                  padding: 18px 0px;
                }



                a {
                  text-decoration: none;
                  @include shopButton;
                  max-width: 161px;
                  height: 30px;

                  @include media(512px) {
                    max-width: 104px;
                    height: 25px;
                  }

                  &::after {
                    max-width: 160px;
                    height: 29px;

                    @include media(512px) {
                      max-width: 103px;
                      height: 24px;
                      top: -3px;
                      left: -4px;
                    }
                  }

                  img {
                    @include media(512px) {
                      width: 15px;
                      height: 15px;
                      margin-right: 4px;
                    }
                  }

                  p {
                    @include font-p-level2;

                    @include media(512px) {
                      @include rwd-font-btn;
                    }
                  }
                }
              }
            }

            .content-bottom {
              width: 30%;
              height: 100%;
              display: flex;

              @include media(1600px) {
                width: 20%;
              }

              .content-map-icon {
                width: 100%;
                // border: 3px solid goldenrod;
                display: flex;
                align-items: center;
                justify-content: center;

                @include media(1280px) {
                  display: none;
                }

                .google-src {
                  position: relative;
                  text-decoration: none;
                  color: $dark;
                  justify-content: flex-end;
                  align-items: center;
                  border: 1px solid rgb(0, 0, 0);
                  width: 100%;
                  max-width: 74px;
                  box-shadow: $shadow;
                  height: 66px;
                  border-radius: 5px;

                  .map-markers {
                    width: 30px;
                    height: 35px;
                    position: absolute;
                    top: 6px;
                    z-index: 9;
                    left: calc(50% - 15px);
                  }
                }

                .map-map:nth-of-type(2) {
                  width: 39px;
                  height: 23px;
                  position: absolute;
                  bottom: 12px;
                  left: calc(50% - 19.5px);
                }
              }

              &:hover {
                .map-markers {
                  animation: markerUp;
                  animation-duration: .3s;
                  animation-iteration-count: infinite;
                  animation-direction: alternate;
                  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
                }

                @keyframes markerUp {
                  from {
                    top: 0;
                  }

                  to {
                    top: -10px;
                  }
                }
              }
            }
          }

          &:hover {
            .img-w-100 {
              img {
                transform: scale(1);
              }
            }
          }
        }
      }
    }
  }
}

.active-results-map {
  height: auto;
  padding-bottom: 100px;


  .results-map {
    width: 100%;
    // border: 1px solid red;
    flex-wrap: wrap;

  }

  // .active-type-map {
  //   display: none;
  // }

  .results-map-w100 {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    overflow: unset;

    #map-open {
      background-color: $fixed-input-bg;
      position: fixed;
      bottom: 80px;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 99;
      border-radius: 200px;
      padding: 10px 0px;
      width: 140px;
      cursor: pointer;
      transition: all 1s;
      display: none;

      @include media(1280px) {
        display: none;
      }

      @include media(770px) {
        bottom: 30px !important;
      }

      p {
        transition: all 0.5s;
        color: #ffffff;
        letter-spacing: 1px;
      }

      img {
        transition: all 1s;
        width: 100%;
        height: 100%;
        max-width: 20px;
        max-width: height 20px;

        margin-right: 10px;
        object-fit: contain;
        object-position: center;
      }

      &:hover {
        transition: all 1s;
        background-color: #ffffff;
        border: 0.5px solid black;

        p {
          color: black;
        }

        img {
          transition: all 0.3s;
          filter: drop-shadow(#000000 1px 0);
        }
      }
    }

    .active-map-open {
      display: flex !important;
    }

    @include media(1000px) {
      padding: 0 5px;

    }

    .li-w100-flex {
      border: none;
      height: auto;
      width: calc(25% - 30px);
      padding: 0;
      margin: 27.5px 15px;



      @include media(1280px) {
        width: calc(33.333333% - 30px);
      }

      @include media(1000px) {
        width: calc(50% - 10px);
        margin: 27.5px 5px;

      }

      @include media (413px) {
        width: calc(100% - 10px);
        margin: 27.5px 5px;
      }


      .map-card-itmes {
        width: 100%;
        height: auto;

        .map-content {
          &::before {
            top: 0;
            left: 0;
            width: 100%;
            height: 53%;

            @include media(512px) {
              height: 29vw;
            }

            @include media(413px) {
              height: 70vw;
            }
          }

          flex-wrap: wrap;
          padding: 0;

          .img-w-100 {
            width: calc(100% - 66px);
            height: 100vw;
            max-height: 18vw;
            overflow: hidden;
            margin-top: 24px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 5px;
            position: relative;

            @include media(1000px) {
              max-height: 35vw;
            }

            @include media(512px) {
              width: calc(100% - 28px);
              margin-top: 8px;
            }

            @include media(413px) {
              width: calc(100% - 40px);
              max-height: 79vw;
              margin-top: 15px;
            }


            .show-move-map {
              top: 10px;
              left: 10px;
              z-index: 1;
              position: absolute;
              @include move-map;
              display: block;
            }
          }

          .map-content-w100 {
            flex-wrap: wrap;
            width: 100%;

            .content-header {
              width: 100%;

              // border: 1px solid red;
              .content-title {
                padding: 11px 0 13px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                // border: 1px solid red;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                white-space: normal;
                line-height: 30px;

                h3 {
                  text-align: center;
                  -webkit-line-clamp: 1; //行數
                }
              }

              .name-w60 {
                .name-display {
                  justify-content: space-evenly;

                  .name-type {
                    margin-right: 0;
                  }
                }
              }

              .map-button {
                justify-content: center;
                width: 100%;
                padding: 18px 0;
              }
            }

            .content-bottom {
              width: 20%;

              .content-map-icon {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.mapBox {
  width: 55%;
  height: 100%;
  position: relative;




  #map-card {
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    position: relative;
    // height: 100%;

    &::after {
      content: '';
      width: 100%;
      height: 150px;
      position: absolute;
      background-color: $rwd-header-bg;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 15px;

    }

    .map-img-box {
      width: 90%;
      height: 160px;
      margin: 15px auto 0;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: $boxShadow;

      img {
        width: 100%;
        height: 100%;
        // border: 2px solid red;
        object-position: center;
        object-fit: cover;
        transform: scale(1.3);
        transition: all 0.3s;
      }



    }

    &:hover {
      img {
        transform: scale(1);
      }
    }

    h1 {
      margin-top: 10px;
      margin-left: 5px;
      margin-right: 5px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      white-space: normal;
      text-align: center;
      letter-spacing: 1px;
    }

    p {
      margin: 0 auto;
      display: block;
      text-align: center;
      // border: 1px solid red;

    }

    .shop-hot-button {
      @include shopButton;
      width: 100px;
      height: 30px;
      margin: 10px auto 15px;

      a {
        text-decoration: none;
        color: #ffffff;
        z-index: 10;
      }

      &::after {
        width: 99px;
        height: 29px;
      }
    }



  }



  @include media(1600px) {
    width: 50%;
  }

  @include media(1280px) {
    width: 100%;
    overflow: unset;
    // display: none;
    height: 100vh;
    // border: 1px solid red;
    position: fixed;
    top: 0;
    left: 0;
  }
}

.active-mapBox {
  display: none;
}

.active-mapInput-display {
  display: none;
}