@import "../mixins/mixin";

@media (max-width:1920px) {
  .shop-input-fixed {
    left: 0;
  }
}

@media (max-width:1700px) {
  .main {
    .all-section {
      .section-hot-shop {
        padding: 0 50px;

        .hot-shop-w50 {
          width: 60%;

          .shop-content {
            .shop-color-border h3 {
              @include font-tab-title;
            }
          }

        }
      }
    }

    .all-card-shop {
      padding: 0 20px;

      .card-items {
        .card-items-btn {
          .card-items-icon {
            min-width: 40px;
            min-height: 40px;
            margin-right: 15px;

            img {
              width: 100%;
              height: 100%;
              object-position: center;
              object-fit: contain;
            }
          }
        }
      }
    }
  }





  .main .all-section .section-hot-shop .hot-shop-more {
    width: 40%;
  }

}

@media (max-width:1400px) {
  .main {
    .all-section {
      .section-hot-shop {
        .hot-shop-w50 {
          .shop-content {
            flex-wrap: wrap;

            .shop-color-blue {
              width: 100%;
              height: 45%;
              // border: 1px solid red;
              padding: 0;

              .shop-move-map {
                position: absolute;
                left: 12%;
                top: 42px;
                z-index: 99;
              }

              .shop-hot-pic {
                top: 30px;
                left: calc(50% - 40%);
                // border: 1px solid blue;
                max-width: 80%;
                height: 110%;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }

            .shop-color-border {
              width: 100%;
              height: 55%;

              &::after {
                width: 100%;
                top: -2px;
                width: 88%;
                height: 90%;
                left: 6%;
              }

              .shop-icon-box {
                margin-bottom: 35px;
              }

              h3 {
                margin-top: 20px;
                margin-bottom: 30px;
              }
            }
          }

        }
      }
    }

    .choice-shop {
      padding: 75px 50px 100px;

      .choice-section {
        .choice-content {
          padding: 72px 0px 0px;

          .choice-card-box {
            .all-choice-card {
              .choice-card:nth-of-type(2) {
                margin: 0 60px;
              }
            }

          }
        }
      }
    }

    .all-card-shop {
      .card-items {
        width: calc(33.33333333% - 46px);
      }
    }
  }
}

@media (max-width:1280px) {
  .header .draggableArea {
    .dock-box {
      width: 100%;
      // border: 10px solid red;
      bottom: 0;
      left: 0;
      max-width: 100%;

      .shop-web {
        width: 110px;
        height: 110px;
        padding-bottom: 5px;

        // border: 4px solid gray;
        li {
          // border: 3px solid palevioletred;

          a {
            width: 100%;
            height: 100%;

            img {
              width: 85px;
              height: 85px;
            }
          }
        }
      }

      .dock {
        width: 100%;
        height: 100vh;
        max-height: 110px;
        max-width: 100%;
        bottom: 0;
        left: calc(50% - 617px);
        // border: 4px solid rgb(0, 0, 0);

        li:nth-last-child(n+3) {
          // outline: 6px solid rgb(255, 183, 0);
          width: 100px;
          height: 100px;

          &:hover {
            width: 120px;
            height: 120px;
          }
        }

        li {
          transition: all 0.5s;
        }

        img {
          width: 70px;
          height: 70px;
          margin: 0 16px;
        }

        .last {
          padding-bottom: 10px;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          position: absolute;
          text-align: center;
          // border: 3px solid gray;
        }

        .last-change {
          padding-bottom: 10px;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          position: absolute;
          text-align: center;

        }

        li:nth-of-type(1):hover~.last img:nth-of-type(1),
        li:nth-of-type(2):hover~.last img:nth-of-type(2),
        li:nth-of-type(3):hover~.last img:nth-of-type(3),
        li:nth-of-type(4):hover~.last img:nth-of-type(4),
        li:nth-of-type(5):hover~.last img:nth-of-type(5),
        li:nth-of-type(6):hover~.last img:nth-of-type(6),
        li:nth-of-type(7):hover~.last img:nth-of-type(7) {
          width: 100px;
          height: 100px;
          opacity: 0;
        }

        li:nth-of-type(1):hover~.last-change img:nth-of-type(1),
        li:nth-of-type(2):hover~.last-change img:nth-of-type(2),
        li:nth-of-type(3):hover~.last-change img:nth-of-type(3),
        li:nth-of-type(4):hover~.last-change img:nth-of-type(4),
        li:nth-of-type(5):hover~.last-change img:nth-of-type(5),
        li:nth-of-type(6):hover~.last-change img:nth-of-type(6),
        li:nth-of-type(7):hover~.last-change img:nth-of-type(7) {
          width: 100px;
          height: 100px;
          opacity: 1;
        }

        li:nth-of-type(1):hover~.last img:nth-of-type(2) {
          width: 90px;
          height: 90px;

        }

        li:nth-of-type(2):hover~.last img:nth-of-type(1) {
          width: 90px;
          height: 90px;
        }

        li:nth-of-type(3):hover~.last img:nth-of-type(2) {
          width: 90px;
          height: 90px;
        }

        li:nth-of-type(3):hover~.last img:nth-of-type(4) {
          width: 90px;
          height: 90px;
        }

        li:nth-of-type(4):hover~.last img:nth-of-type(3) {
          width: 90px;
          height: 90px;
        }

        li:nth-of-type(4):hover~.last img:nth-of-type(5) {
          width: 90px;
          height: 90px;
        }

        li:nth-of-type(5):hover~.last img:nth-of-type(4) {
          width: 90px;
          height: 90px;
        }

        li:nth-of-type(5):hover~.last img:nth-of-type(6) {
          width: 90px;
          height: 90px;
        }

        li:nth-of-type(6):hover~.last img:nth-of-type(5) {
          width: 90px;
          height: 90px;
        }

        li:nth-of-type(6):hover~.last img:nth-of-type(7) {
          width: 90px;
          height: 90px;
        }


        li:nth-of-type(2):hover~.last img:nth-of-type(3) {
          width: 90px;
          height: 90px;
        }

        li:nth-of-type(7):hover~.last img:nth-of-type(6) {
          width: 90px;
          height: 90px;
        }

        // last-change

        li:nth-of-type(1):hover~.last-change img:nth-of-type(2) {
          width: 90px;
          height: 90px;

        }

        li:nth-of-type(2):hover~.last-change img:nth-of-type(1) {
          width: 90px;
          height: 90px;
        }

        li:nth-of-type(3):hover~.last-change img:nth-of-type(2) {
          width: 90px;
          height: 90px;
        }

        li:nth-of-type(3):hover~.last-change img:nth-of-type(4) {
          width: 90px;
          height: 90px;
        }

        li:nth-of-type(4):hover~.last-change img:nth-of-type(3) {
          width: 90px;
          height: 90px;
        }

        li:nth-of-type(4):hover~.last-change img:nth-of-type(5) {
          width: 90px;
          height: 90px;
        }

        li:nth-of-type(5):hover~.last-change img:nth-of-type(4) {
          width: 90px;
          height: 90px;
        }

        li:nth-of-type(5):hover~.last-change img:nth-of-type(6) {
          width: 90px;
          height: 90px;
        }

        li:nth-of-type(6):hover~.last-change img:nth-of-type(5) {
          width: 90px;
          height: 90px;
        }

        li:nth-of-type(6):hover~.last-change img:nth-of-type(7) {
          width: 90px;
          height: 90px;
        }


        li:nth-of-type(2):hover~.last-change img:nth-of-type(3) {
          width: 90px;
          height: 90px;
        }

        li:nth-of-type(7):hover~.last-change img:nth-of-type(6) {
          width: 90px;
          height: 90px;
        }
      }


    }
  }

  .main {

    .choice-shop {
      .choice-section {
        .choice-tab {
          display: none;
        }

        .choice-input {
          display: none;
        }

        .choice-content {
          border: none;

          .choice-card-box {
            display: flex;
            overflow: scroll;
            overflow: auto;

            .all-choice-card {
              min-width: 1100px;

              .choice-card {
                &:nth-of-type(3) {
                  margin-right: 50px;
                }
              }
            }
          }

          .choice-card-box::-webkit-scrollbar {
            height: 25px;

            background-color: #ffffff;
            // border-radius: 100px;
          }



          .choice-card-box::-webkit-scrollbar-track {
            box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
            // border-radius: 10px;
            border-radius: 5px;
            background-color: #ffffff;
          }


          .choice-card-box::-webkit-scrollbar-thumb {
            // border-radius: 10px;
            box-shadow: inset 0 0 10px rgba(0, 0, 0, .3);
            background-color: $scrollBarColor;
            border-radius: 5px;


          }
        }

        .choice-logo-input {
          // border: 1px solid red;
          flex-wrap: wrap;
          padding: 70px 0 0 0;
          border: none;

          .choice-logo {
            width: 100%;
            // border: 1px solid green;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;

            img {
              width: 100%;
              height: 100%;
              max-width: 300px;
              max-height: 220px;
              object-position: center;
              object-fit: contain;
            }
          }
        }

        .choice-tab-1280px {
          display: flex;

          .tab-btn-1280px {
            z-index: 99;

            .active1280px {
              height: 130%;
              width: 110%;
              left: calc(50% - 55%);
              top: calc(50% - 65%);
              background-color: $scrollBarColor;
              z-index: 99;
              border-radius: 17px;



            }
          }
        }
      }
    }

    .all-section {
      .shop-title {
        padding-left: 0;
        display: flex;
        justify-content: center;
      }
    }

    .section-two {

      padding: 0;
      display: flex;
      justify-content: center;

      .shop-title {
        padding: 0;
      }

    }

    .all-card-shop {
      .card-items {
        width: calc(33.33333333% - 30px);
        margin: 27.5px 15px;
      }
    }
  }



}

@media (max-width:996px) {
  .main {
    .all-section {
      .section-hot-shop {
        flex-wrap: wrap;

        .hot-shop-w50 {
          width: 100%;
          margin: 0 80px;
        }

        .hot-shop-more {
          // border: 1px solid red;
          width: 100%;
          height: 100%;
          margin-top: 50px;
          margin-left: 50px;
          margin-right: 50px;
        }
      }
    }

    .all-card-shop {
      padding: 0 5px;

      .card-items {
        width: calc(50% - 10px);
        margin: 27.5px 5px;
      }
    }
  }

}

@media (max-width:840px) {


  .header .draggableArea {
    .dock-box {
      width: 100%;
      // border: 10px solid red;
      bottom: 0;
      left: 0;
      max-width: 100%;

      .shop-web {
        width: 110px;
        height: 90px;
        // border: 4px solid gray;
        margin-right: 10px;
        padding-bottom: 5px;

        li {
          // border: 3px solid palevioletred;
          width: 100%;
          height: 100%;
          list-style: none;
          position: relative;

          a {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 100%;
            height: 100%;

            img {
              width: 75px;
              height: 75px;
            }
          }
        }
      }



      .dock {
        width: 100%;
        height: 100vh;
        max-height: 90px;

        // position: absolute;
        bottom: 0;
        left: calc(50% - 617px);
        // border: 4px solid rgb(0, 0, 0);

        li:nth-last-child(n+3) {
          // outline: 6px solid rgb(255, 183, 0);
          width: 80px;
          height: 80px;

          &:hover {
            width: 120px;
            height: 120px;
          }
        }



        a {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          // background-color: rgba(253, 0, 0, 0.4);
        }



        img {
          width: 60px;
          height: 60px;
          margin: 0 11px;
        }

        .last {
          padding-bottom: 10px;


        }

        .last-change {
          padding-bottom: 10px;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          position: absolute;
          text-align: center;

          img {
            opacity: 0;
          }
        }

      }

    }
  }

}

@media (max-width:650px) {
  .main {
    .all-card-shop {
      .card-items {
        padding-bottom: 0;
        padding-bottom: 20px;
        height: auto;

        .card-items-img {
          width: calc(100% - 28px);
        }

        .card-item-name {
          h2 {
            color: black;
            padding: 0 0 0 15px;
            justify-content: flex-start;
          }

          &::after {
            width: 0;
            height: 0;

            z-index: -99;
          }
        }

        .card-items-btn {
          width: calc(100% - 25px);
          margin-top: 30px;
        }
      }

    }

  }
}

@media (max-width:770px) {
  .resultPage {
    .shop-title {
      padding: 0;
      display: flex;
      justify-content: center;
      padding-left: 30px;

      .shop-icon {
        h2 {
          @include font-p-level2;
          padding: 14px 38px;
        }

        &::after {
          border-color: white transparent transparent;
          border-style: solid solid solid solid;
          border-width: 15px;
          content: "";
          bottom: -29px;
          height: 0px;
          /* left: 81px; */
          right: 28px;
          position: absolute;
          width: 0px;
        }

        &::before {
          border-color: #222222 transparent transparent;
          border-style: solid solid solid;
          border-width: 16px 16px 16px 16px;
          bottom: -31px;
          content: "";
          height: 0px;
          /* left: 81px; */
          right: 27px;
          position: absolute;
          width: 0px;
        }

        .shop-title-icon {
          max-width: 70px;
          max-height: 70px;
          left: -40px;
          top: -9px;
        }
      }
    }

    .all-product {
      padding: 80px 0px 0 0px;

      .card-items {
        margin: 27.5px 10px;
        width: calc(50% - 20px);
        height: auto;
        padding-bottom: 20px;

        &:after {
          top: 30px;
          max-height: 243px;
        }

        .card-items-btn {
          width: calc(100% - 18px);
          padding: 0 0 15px 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 30px;
          width: calc(100% - 25px);

          .card-btn {
            max-width: 195px;
            height: 41px;

            img {
              width: 22px;
              height: 22px;
            }

            p {
              @include button-font-size;
            }

            &::after {
              max-width: 194px;
              height: 40px;
              top: -5px;
              left: -7px;
            }
          }

          .card-items-icon {
            min-width: 40px;
            min-height: 40px;
            margin-right: 15px;

            img {

              object-fit: contain;
            }
          }
        }

        .card-item-name {

          &::after {
            max-width: 0;
            max-height: 0;
            z-index: -99;
          }

          h2 {
            @include font-p;
            color: #000000;
            padding: 0 0 0 20px;
            // border: 1px solid green;
            justify-content: flex-start;
          }

          &::after {
            width: 0;
            min-height: 0;

            z-index: -99;
          }

        }

        .card-item-name::after {
          min-height: 48px;
          width: 85%;
        }

        .card-items-img {
          // border: 1px solid green;
          width: calc(100% - 28px);
          max-height: 270px;

          margin-top: 24px;

          .card-items-map {
            top: 10px;
            left: 10px;

            .shop-move-map {
              width: 100px;
              height: 32px;

              img {
                margin-right: 10px;
                width: 27px;
                height: 27px;
              }

              p {
                @include font-p-level2;

              }
            }
          }
        }



        .card-title {
          height: 30px;



          .card-txt {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            p {
              @include rwd-font-btn;
            }
          }
        }

        .card-items-img {
          height: auto;
        }
      }
    }
  }

  .shop-input-fixed {
    .scroll-input {
      height: 100vh;
      max-height: 95px;

      .web-search-bar {
        transform: translateY(0px);
        max-height: 55px;

        .only-position {
          .inputBtn {

            width: 45px;
            height: 45px;
            top: 3px;
          }
        }

      }
    }

    .navItems {
      justify-content: center;

      .logoBox {
        img {
          width: 146px;
          height: 29px;
        }
      }

      .linkMerchant {
        display: none;
      }

      .merchantItems {
        width: 0;

        ul {
          li {
            a {
              display: none;
            }
          }
        }
      }
    }
  }

  .active-creat-input {
    .scroll-input {
      max-height: 240px;
      height: 100vh;

      .web-search-bar {
        height: 100vh;
        max-height: 199px;
        flex-direction: column;
        // border: 3px solid gold;
        border: none;
        box-shadow: none;
        overflow: unset;
        background-color: rgba(255, 255, 255, 0);
        padding: 0 31px;

        .web-input {
          .inputTitle {
            @include font-p-level2;
            top: calc(50% - 11px);
          }

          input {
            @include font-p;
            top: 25px;
          }


        }



        .typeSearch {
          max-width: 90%;
          left: 5%;
          top: 60px;
          z-index: 9999999;
          border-radius: 15px;
        }

        .citySearch {
          max-width: 90%;
          left: 5%;
          top: 133px;
          z-index: 9999999;

        }

        &:after {
          display: none;
        }

        .typeGroup {
          border: 1px solid black;
          width: 100%;
          max-height: 53px;
          margin-bottom: 20px;
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
          background-color: $inputColor;
          transition: all 0.3s;

          &:hover {
            background-color: #ffffff;
          }



        }

        .cityGroup {
          border: 1px solid black;
          width: 100%;
          max-height: 53px;
          padding-left: 24px;
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
          background-color: $inputColor;
          transition: all 0.3s;

          &:hover {
            background-color: #ffffff;
          }

        }

        .only-position {
          .inputBtn {
            width: 100%;
            top: 20px;
            right: 0px;
            border-radius: 200px;
            max-height: 53px;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);



          }
        }
      }
    }
  }

  .header {
    background-image: url("../../img/258.png");
    min-height: auto;

    .headerBar {
      background-color: $rwd-header-bg;

      .headerBar-w50 {
        padding-left: 10px;

        .typeBtn {
          display: none;
        }

        .cityBtn {
          display: none;
        }
      }

      .itemBar-w50 {
        padding-right: 20px;

        .hearder-search {
          display: none;
        }

        .voice {
          display: none;
        }

        .clock {
          display: none;
        }

        .nowTime {
          p {
            color: black;
            ;

            &:nth-of-type(1) {
              display: none;
            }
          }
        }
      }
    }

    .draggableArea {
      padding: 0;
      height: 100vh;
      max-height: calc(100% - 70px);



      .shop1688-web {
        position: absolute;
        top: 39%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 95%;
        z-index: 999999999;

        height: 100vh;
        min-height: auto;
        max-height: calc(100% - 140px);

        .header-bottom {
          max-height: 42px;

          .web-domin {
            margin: 4px 0;
          }
        }

        .web-content {
          height: calc(100% - 50px);
          padding-bottom: 0;

          .inputBtn {
            width: 100%;
            top: 20px;
            right: 0px;
            border-radius: 200px;
            max-height: 53px;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
            display: flex;
            justify-content: center;
            align-items: center;

            p {

              @include font-item-name;
              color: #ffffff;
            }
          }

          .web-search-bar {
            height: 100vh;
            max-height: 199px;
            flex-direction: column;
            // border: 3px solid gold;
            border: none;
            box-shadow: none;
            overflow: unset;
            background-color: rgba(255, 255, 255, 0);
            padding: 0 31px;

            input {
              @include font-p-level2;
            }

            .typeSearch {
              max-width: 90%;
              left: 5%;
              top: 260px;
              z-index: 9999999;
              border-radius: 15px;

              @include media(413px) {
                top: 195px;
              }
            }

            .citySearch {
              max-width: 90%;
              left: 5%;
              top: 335px;
              z-index: 9999999;

              @include media(413px) {
                top: 260px !important;
              }
            }

            &:after {
              display: none;
            }

            .typeGroup {
              border: 1px solid black;
              width: 100%;
              max-height: 53px;
              margin-bottom: 20px;
              box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
              background-color: $inputColor;
              transition: all 0.3s;

              &:hover {
                background-color: #ffffff;
              }

            }

            .cityGroup {
              border: 1px solid black;
              width: 100%;
              max-height: 53px;
              padding-left: 24px;
              box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
              background-color: $inputColor;
              transition: all 0.3s;

              &:hover {
                background-color: #ffffff;
              }

            }
          }

          .web-logo {
            max-width: 260px;
            padding-top: 40px;

            img {
              &:nth-of-type(1) {
                max-width: 32px;
                max-height: 40px;
              }

              &:nth-of-type(2) {
                max-width: 34px;
                max-height: 42px;
              }

              &:nth-of-type(3) {
                max-width: 34px;
                max-height: 34px;
              }

              &:nth-of-type(4) {
                max-width: 35px;
                max-height: 42px;
                transform: translateY(7px);
              }

              &:nth-of-type(5) {
                max-width: 7px;
                max-height: 40px;
              }

              &:nth-of-type(6) {
                max-width: 28px;
                max-height: 39px;
              }

              &:nth-of-type(7) {
                max-width: 27px;
                max-height: 39px;
              }

              &:nth-of-type(8) {
                max-width: 27px;
                max-height: 39px;
              }
            }
          }
        }

        .web-header {
          .touch-small {
            display: none;
          }

          .touch-big {
            display: none;
          }

          .web-title {
            justify-content: flex-start;
            font-size: $rwd-header-title;

            .web-line {
              display: none;
            }
          }
        }

        .header-bottom {
          .web-btn {
            display: none;
          }
        }
      }



      .rwd-draggable-box {
        background-color: $rwd-tag-items;
        position: absolute;
        bottom: 10px;
        width: 100%;
        left: calc(50% - 196px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 392px;
        max-height: 80px;
        border-radius: 16px;
        overflow: hidden;
        padding-top: 10px;



        @include media(413px) {
          width: 95%;
          left: 2.5%;
          // border: 5px solid rgb(133, 160, 133);
        }

        .square {
          margin: 0;
          // border: 1px solid gray;

          p {
            margin: 0 0 8px 0;
            color: #ffffff;
          }

          .square-img {
            width: 50px;
            height: 50px;
            // opacity: 1;
            // border: 1px solid rgb(14, 14, 14);
          }

          .change-square1 {
            width: 100%;
            height: 100%;
            // opacity: 1;
            // border: 1px solid greenyellow;
            top: -5px;
            left: 0;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: flex-start;

            img {
              width: 55px;
              height: 55px;
            }
          }
        }

      }



      .dock-box {
        // border: 1px solid red;
        max-width: 355px;
        max-height: 355px;
        height: 100vh;
        position: fixed;
        left: calc(50% - 177.5px);
        top: calc(50% - 177.5px);


        .rwd-header-mask {
          width: 100%;
          position: fixed;
          height: 100vh;
          top: 0;
          left: 0;
          backdrop-filter: blur(5px);
          display: none;
          z-index: 999999999999999999999999999999999999999999999999;
        }

        .active-header-mask {
          display: block;
        }

        .shop-web {
          position: absolute;
          left: -30%;
          top: -50%;
          display: none;
          // border: 1px solid green;
        }

        .dock {
          // border: 5px solid rgb(147, 147, 255);
          max-height: 355px;
          width: 100%;
          max-width: 355px;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          top: 0;
          left: 0;
          padding: 25px;
          border-radius: 34px;
          // overflow: hidden;
          background-color: #999999c2;
          position: relative;
          display: none;

          &::after {
            content: '商家分類';
            position: absolute;

            @include font-allShop-btn;
            letter-spacing: 1px;
            color: black;
            // border: 1px solid rosybrown;
            top: -88px;
            left: calc(50% - 77px);
          }

          li:nth-last-child(n+3) {
            display: inline-block;
            position: relative;
            z-index: 1;
            // outline: 6px solid rgb(255, 183, 0);



            &:hover {
              width: 80px;
              height: 80px;

              a:after {
                display: block;
              }

              a::before {
                display: block;
              }
            }
          }

          li {

            &:nth-of-type(1) a:after,
            &:nth-of-type(2) a:after,
            &:nth-of-type(3) a:after,
            &:nth-of-type(4) a:after,
            &:nth-of-type(5) a:after,
            &:nth-of-type(6) a:after,
            &:nth-of-type(7) a:after {
              display: block;
              top: 75px;
              width: 100%;
              left: calc(50% - 47px);
              background-color: rgba(255, 255, 255, 0);
              color: #ffffff;
            }

            &:nth-of-type(1) a::before,
            &:nth-of-type(2) a::before,
            &:nth-of-type(3) a::before,
            &:nth-of-type(4) a::before,
            &:nth-of-type(5) a::before,
            &:nth-of-type(6) a::before,
            &:nth-of-type(7) a::before {
              height: 0px;
              border-width: 0px;
              opacity: 0;
            }
          }

          .last {
            // border: 7px solid grey;
            flex-wrap: wrap;
            top: 0;
            width: 100%;
            max-width: 355px;
            max-height: 100%;
            height: 100vh;
            left: 0;
            justify-content: space-between;
            align-items: center;
            padding: 25px 30px 25px 30px;

            img {
              width: 66px;
              height: 66px;
              margin: 0 4px;
            }
          }

          .last-change {
            // border: 7px solid rgb(255, 168, 168);
            flex-wrap: wrap;
            top: 0;
            width: 100%;
            max-width: 355px;
            max-height: 100%;
            height: 100vh;
            left: 0;
            justify-content: space-between;
            align-items: center;
            padding: 25px 30px 25px 30px;

            img {

              width: 66px;
              height: 66px;
              margin: 0 4px;

            }
          }

          li:nth-of-type(1):hover~.last img:nth-of-type(1),
          li:nth-of-type(2):hover~.last img:nth-of-type(2),
          li:nth-of-type(3):hover~.last img:nth-of-type(3),
          li:nth-of-type(4):hover~.last img:nth-of-type(4),
          li:nth-of-type(5):hover~.last img:nth-of-type(5),
          li:nth-of-type(6):hover~.last img:nth-of-type(6),
          li:nth-of-type(7):hover~.last img:nth-of-type(7) {
            width: 66px;
            height: 66px;
            opacity: 0;
          }

          li:nth-of-type(1):hover~.last-change img:nth-of-type(1),
          li:nth-of-type(2):hover~.last-change img:nth-of-type(2),
          li:nth-of-type(3):hover~.last-change img:nth-of-type(3),
          li:nth-of-type(4):hover~.last-change img:nth-of-type(4),
          li:nth-of-type(5):hover~.last-change img:nth-of-type(5),
          li:nth-of-type(6):hover~.last-change img:nth-of-type(6),
          li:nth-of-type(7):hover~.last-change img:nth-of-type(7) {
            width: 66px;
            height: 66px;
            opacity: 1;
          }

          li:nth-of-type(1):hover~.last img:nth-of-type(2) {
            width: 66px;
            height: 66px;

          }

          li:nth-of-type(2):hover~.last img:nth-of-type(1) {
            width: 66px;
            height: 66px;
          }

          li:nth-of-type(3):hover~.last img:nth-of-type(2) {
            width: 66px;
            height: 66px;
          }

          li:nth-of-type(3):hover~.last img:nth-of-type(4) {
            width: 66px;
            height: 66px;
          }

          li:nth-of-type(4):hover~.last img:nth-of-type(3) {
            width: 66px;
            height: 66px;
          }

          li:nth-of-type(4):hover~.last img:nth-of-type(5) {
            width: 66px;
            height: 66px;
          }

          li:nth-of-type(5):hover~.last img:nth-of-type(4) {
            width: 66px;
            height: 66px;
          }

          li:nth-of-type(5):hover~.last img:nth-of-type(6) {
            width: 66px;
            height: 66px;
          }

          li:nth-of-type(6):hover~.last img:nth-of-type(5) {
            width: 66px;
            height: 66px;
          }

          li:nth-of-type(6):hover~.last img:nth-of-type(7) {
            width: 66px;
            height: 66px;
          }


          li:nth-of-type(2):hover~.last img:nth-of-type(3) {
            width: 66px;
            height: 66px;
          }

          li:nth-of-type(7):hover~.last img:nth-of-type(6) {
            width: 66px;
            height: 66px;
          }

          // last-change

          li:nth-of-type(1):hover~.last-change img:nth-of-type(2) {
            width: 66px;
            height: 66px;

          }

          li:nth-of-type(2):hover~.last-change img:nth-of-type(1) {
            width: 66px;
            height: 66px;
          }

          li:nth-of-type(3):hover~.last-change img:nth-of-type(2) {
            width: 66px;
            height: 66px;
          }

          li:nth-of-type(3):hover~.last-change img:nth-of-type(4) {
            width: 66px;
            height: 66px;
          }

          li:nth-of-type(4):hover~.last-change img:nth-of-type(3) {
            width: 66px;
            height: 66px;
          }

          li:nth-of-type(4):hover~.last-change img:nth-of-type(5) {
            width: 66px;
            height: 66px;
          }

          li:nth-of-type(5):hover~.last-change img:nth-of-type(4) {
            width: 66px;
            height: 66px;
          }

          li:nth-of-type(5):hover~.last-change img:nth-of-type(6) {
            width: 66px;
            height: 66px;
          }

          li:nth-of-type(6):hover~.last-change img:nth-of-type(5) {
            width: 66px;
            height: 66px;
          }

          li:nth-of-type(6):hover~.last-change img:nth-of-type(7) {
            width: 66px;
            height: 66px;
          }


          li:nth-of-type(2):hover~.last-change img:nth-of-type(3) {
            width: 66px;
            height: 66px;
          }

          li:nth-of-type(7):hover~.last-change img:nth-of-type(6) {
            width: 66px;
            height: 66px;

          }
        }

        .active-dock {
          display: flex;
        }



      }
    }
  }

  .main {
    .all-section {
      .shop-title {
        padding: 0;
        display: flex;
        justify-content: center;
        padding-left: 30px;

        .shop-icon {
          h2 {
            @include font-p-level2;
            padding: 14px 38px;
          }

          &::after {
            border-color: white transparent transparent;
            border-style: solid solid solid solid;
            border-width: 15px;
            content: "";
            bottom: -29px;
            height: 0px;
            /* left: 81px; */
            right: 28px;
            position: absolute;
            width: 0px;
          }

          &::before {
            border-color: #222222 transparent transparent;
            border-style: solid solid solid;
            border-width: 16px 16px 16px 16px;
            bottom: -31px;
            content: "";
            height: 0px;
            /* left: 81px; */
            right: 27px;
            position: absolute;
            width: 0px;
          }

          .shop-title-icon {
            max-width: 70px;
            max-height: 70px;
            left: -40px;
            top: -9px;
          }
        }
      }
    }

    .section-two {
      padding: 0;
      display: flex;
      justify-content: center;

      .shop-title {
        padding: 0;
        padding-left: 30px;


        .shop-icon {
          h2 {
            @include font-p-level2;
            padding: 14px 38px;
          }

          &::after {
            border-color: white transparent transparent;
            border-style: solid solid solid solid;
            border-width: 15px;
            content: "";
            bottom: -29px;
            height: 0px;
            left: 82px;
            // right: 28px;
            position: absolute;
            width: 0px;
          }

          &::before {
            border-color: #222222 transparent transparent;
            border-style: solid solid solid;
            border-width: 16px 16px 16px 16px;
            bottom: -31px;
            content: "";
            height: 0px;
            left: 81px;
            // right: 27px;
            position: absolute;
            width: 0px;
          }

          .shop-title-icon {
            max-width: 70px;
            max-height: 70px;
            left: -40px !important;
            top: -9px;


          }
        }
      }
    }

    .section-three {
      padding-bottom: 47.5px;

      .shop-title {
        padding: 0;
        display: flex;
        justify-content: center;
        padding-left: 30px;

        .shop-icon {
          h2 {
            @include font-p-level2;
            padding: 14px 38px;
          }

          &::after {
            border-color: white transparent transparent;
            border-style: solid solid solid solid;
            border-width: 15px;
            content: "";
            bottom: -29px;
            height: 0px;
            /* left: 81px; */
            right: 28px;
            position: absolute;
            width: 0px;
          }

          &::before {
            border-color: #222222 transparent transparent;
            border-style: solid solid solid;
            border-width: 16px 16px 16px 16px;
            bottom: -31px;
            content: "";
            height: 0px;
            /* left: 81px; */
            right: 27px;
            position: absolute;
            width: 0px;
          }

          .shop-title-icon {
            max-width: 70px;
            max-height: 70px;
            left: -40px;
            top: -9px;
          }
        }
      }
    }
  }
}

@media (max-width:512px) {

  .resultPage {
    .all-product {
      padding: 80px 0px 0 0px;

      .card-items {
        margin: 27.5px 10px;
        width: calc(50% - 20px);
        height: auto;
        padding-bottom: 20px;

        &:after {
          top: 23px;
          max-height: 140px;
        }

        .card-items-btn {
          padding: 0;
          border: none;
          width: calc(100% - 30px);
          margin-top: 15px;
          justify-content: center;
          align-items: center;

          .card-items-icon {
            min-width: 25px;
            min-height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 6px;

            img {
              width: 30px;
              height: 30px;

            }
          }

          img {
            width: 25px;
            height: 25px;
          }

          .card-btn {
            max-width: 104px;
            height: 25px;


            &::after {
              max-width: 103px;
              height: 24px;
              top: -3px;
              left: -4px;
            }

            img {
              width: 15px;
              height: 15px;
            }

            p {
              @include rwd-font-btn;
            }
          }
        }

        .card-item-name {
          &::after {
            max-width: 0;
            max-height: 0;
            z-index: -99;
          }

          h2 {
            @include font-p;
            margin-top: 10px;
            padding-left: 15px;
          }

          &::after {
            width: 0;
            min-height: 0;
            z-index: -99;
          }
        }

        .card-item-name::after {
          min-height: 48px;
          width: 85%;
        }

        .card-items-img {
          max-height: 180px;
          margin-top: 8px;

          .card-items-map {
            top: 5px;
            left: 5px;

            .shop-move-map {
              width: 70px;
              height: 23px;
              top: 5px;
              left: 5px;

              img {

                margin-right: 5px;
                width: 17px;
                height: 17px;
              }

              p {
                @include font-p-level3;

              }
            }
          }
        }

        .card-title {
          height: 23px;

          .card-txt {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            p {
              @include rwd-font-btn;
            }
          }
        }
      }
    }
  }







  .main {
    .all-section {
      .section-hot-shop {
        padding: 0 30px;

        .hot-shop-w50 {
          margin: 0;
          max-height: 100%;
          height: auto;

          .shop-content-cover {
            max-height: 475px;
          }

          .shop-title-cover {
            height: 25px;

            .shop-close-box {
              width: 25px;
            }
          }

          .shop-title-box {
            height: 25px;

            .shop-title {
              h3 {
                @include rwd-font-btn;
              }
            }

            .shop-close-box {
              width: 25px;

              img {
                width: 11px;
                height: 11px;

              }
            }
          }

          .shop-content {
            height: auto;

            .shop-color-border {
              padding-bottom: 40px;

              h3 {
                @include font-item-name;
                margin-top: 60px;
                margin-bottom: 15px;
              }

              .shop-hot-button {
                width: 155px;
                height: 30px;

                p {
                  @include rwd-font-btn;
                }


                img {
                  width: 20px;
                  height: 20px;
                }

                &::after {
                  width: 154px;
                  height: 29px;
                }
              }

              .shop-icon-box {
                margin-bottom: 20px;

                .shop-icon-type {
                  width: 55px;
                  height: 55px;
                  margin-right: 20px;

                  p {
                    @include font-input;
                  }

                  img {
                    width: 28px;
                    height: 28px;
                    margin-bottom: 3px;
                  }
                }

                .shop-icon-city {
                  width: 55px;
                  height: 55px;

                  p {
                    @include font-input;
                  }

                  img {
                    width: 25px;
                    height: 25px;
                  }
                }

              }
            }

            .shop-color-blue {
              height: 235px;

              .shop-hot-pic {
                max-width: 78%;
                height: 260px;
                left: calc(50% - 39%);


              }
            }
          }
        }

        .hot-shop-more {
          height: 100vh;
          margin: 50px 20px 0;
        }
      }
    }

    .all-card-shop {
      .card-items {
        max-height: 320px;

        &::after {
          max-height: 165px;
          top: 23px;
        }

        .card-title {
          height: 23px;

          .card-txt {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            p {
              @include rwd-font-btn;
            }
          }
        }

        .card-items-btn {
          .card-items-icon {
            width: 33px;
            height: 33px;
            min-width: 33px;
            min-height: 33px;
            display: flex;
            justify-content: center;
            align-items: center;
            // border: 1px solid red;


            img {
              min-width: 33px;
              min-height: 33px;
            }
          }
        }

        .card-items-img {
          max-height: 180px;
          margin-top: 8px;

          .card-items-map {
            top: 5px;
            left: 5px;

            .shop-move-map {
              width: 70px;
              height: 23px;
              top: 5px;
              left: 5px;

              img {
                margin-right: 5px;
                width: 17px;
                height: 17px;
              }

              p {
                @include font-p-level3;
              }
            }
          }
        }

        .card-item-name {
          h2 {
            @include font-p;
            margin-top: 10px;
          }


        }

        .card-items-btn {
          padding: 0;
          border: none;
          width: calc(100% - 30px);
          margin-top: 15px;
          justify-content: center;
          align-items: center;

          img {
            width: 25px;
            height: 25px;
          }

          .card-btn {
            max-width: 104px;
            height: 25px;


            &::after {
              max-width: 103px;
              height: 24px;
              top: -3px;
              left: -4px;
            }

            img {
              width: 15px;
              height: 15px;
            }

            p {
              @include rwd-font-btn;
            }
          }
        }
      }

    }

    .choice-shop {
      padding: 70px 20px 100px;

      .choice-section {
        .choice-logo-input {
          .choice-logo {
            img {
              width: 100%;
              max-width: 200px;

            }
          }

          .choice-city-input {
            padding: 0 50px;
            width: 85%;
            margin: 0 auto;

            p {
              @include scroll-input-font;
            }
          }
        }

        .choice-content {
          padding: 50px 0 0;
        }
      }
    }
  }
}

@media (max-width:413px) {
  .resultPage {
    .all-product {
      .card-items {
        width: calc(100% - 30px);
        margin: 15px auto;

        .card-item-name {
          justify-content: center;

          h2 {
            padding: 0px 8px;
            text-align: center;

          }
        }

        .card-items-img {
          max-height: 235px;
          width: calc(100% - 60px);
        }

        &::after {
          max-height: 200px;
        }

        .card-items-btn {
          .card-btn {
            max-width: 150px;
            height: 30px;

            &::after {
              max-width: 149px;
              height: 29px;
              top: -5px;
              left: -5px;
            }



          }

          .card-items-icon {
            min-width: 35px;
            min-height: 35px;
            width: 35px;
            height: 35px;
            margin-right: 15px;

            img {
              width: 35px;
              height: 35px;
            }
          }
        }
      }
    }
  }

  .main {
    .all-card-shop {
      .card-items {
        width: calc(100% - 30px);
        margin: 15px auto;

        .card-items-img {
          width: calc(100% - 60px);
        }

        .card-items-btn {
          .card-btn {
            max-width: 150px;
            height: 30px;

            &::after {
              max-width: 149px;
              height: 29px;
              top: -5px;
              left: -5px;
            }
          }
        }
      }
    }
  }

}